extends ../layout/index

block contenido
    div(class="py-16 px-4 sm:px-6 lg:px-8 bg-gray-50 min-h-screen flex flex-col items-center justify-center")
        div(class="max-w-md w-full")
            h1(class="text-4xl my-10 font-extrabold text-center text-red-800") RESTAURANT
                span(class="font-normal text-orange-600") ADMIN
            
            
            h2(class="text-center text-3xl font-bold" class=error ? 'text-red-600' : 'text-amber-600')=titulo

            
            div(class="bg-white py-10 px-6 shadow-2xl rounded-xl max-w-md mx-auto mt-8 border-t-4" class=error ? 'border-red-600' : 'border-amber-600')
                
                
                p(class="text-center text-gray-800 font-semibold mb-6 text-lg")=mensaje
                
                if enlace && btn
                    a(
                        class="w-full font-bold py-3 rounded-lg cursor-pointer transition duration-300 block text-center uppercase text-sm shadow-md transform hover:scale-[1.01] text-white"
                        class=error ? 'bg-red-600 hover:bg-red-700' : 'bg-amber-600 hover:bg-amber-700'
                        href=enlace
                    )= btn