extends ../layout/index

block contenido
    div(class="py-16 px-4 sm:px-6 lg:px-8 bg-gray-50 min-h-screen flex flex-col items-center justify-center")
        div(class="max-w-md w-full")
            h1(class="text-4xl my-10 font-extrabold text-center text-red-800") RESTAURANT
                span(class="font-normal text-orange-600") ADMIN
            h2(class="text-center text-2xl font-extrabold text-gray-800")= tituloPagina

            if errores
                div(class="max-w-md mx-auto my-6")
                    each error in errores
                        p(class="bg-red-600 text-white uppercase text-xs text-center p-3 mb-1 font-bold rounded-lg shadow-md")= error.msg

            div(class="mt-8 mx-auto max-w-md")
                div(class="bg-white py-8 px-6 shadow-2xl rounded-xl border-t-4 border-red-600")
                    form(method="post" class="space-y-6")
                        input(type="hidden" name="_csrf" value=csrfToken )
                        
                        div 
                            label(for="password" class="block text-sm uppercase text-gray-600 mb-3 font-bold") Nueva Contraseña
                            input#password(
                                name="password"
                                type="password" 
                                placeholder="Escribe tu nueva contraseña" 
                                class="w-full px-4 py-3 border border-gray-300 rounded-lg placeholder-gray-400 focus:border-red-500 focus:ring-red-500 shadow-sm"
                            )
                            
                        div 
                            label(for="repeat_password" class="block text-sm uppercase text-gray-600 mb-3 font-bold") Repetir Contraseña
                            input#repeat_password(
                                name="repeat_password"
                                type="password" 
                                placeholder="Repite tu nueva contraseña" 
                                class="w-full px-4 py-3 border border-gray-300 rounded-lg placeholder-gray-400 focus:border-red-500 focus:ring-red-500 shadow-sm"
                            )
                            
                        input(
                            type="submit" 
                            value="Cambiar contraseña"
                            class="w-full bg-red-600 hover:bg-red-700 text-white font-bold py-3 cursor-pointer rounded-lg uppercase transition duration-300 shadow-md transform hover:scale-[1.01]"
                        )

                        